body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/*---------------------------------
     Nav Bar 
---------------------------------*/
.navbar {
    background-color: black;
    margin: 0;
}
#logo {
    height: 80px;
    width: 120px;
}
#searchbar {
    width: 120px;
}
#search {
    position: absolute;
    right: 40px;
}
.navbar .navbar-toggle {
    left: 20px;    
}
/*--------------------------------------
    Dropdown Menu
---------------------------------------*/
.sidebar {                
    position: fixed;
    top: 110px; right: -250px;
    background: black;
    width: 250px; height: 100%;
    transition: .5s;
}
.active {
    right: 0px;
}
.sidebar ul {
    margin: 0;
    padding: 100px 10px;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    padding: 20px 20px 20px 40px;
    color: white;
    display: block;
    font-family: cursive; font-size: 20px;
    text-decoration: none;
}
.sidebar ul li a:hover,
.sidebar ul li a.highlight {
    color: red;
}
ul li .borderline {
    content: "";
    width: 200px; height: 3px;
    background: linear-gradient(to right, rgba(102,102,102,0) 0%, rgb(102,102,102,1) 100%);
}
.sidebarBtn {
    position: fixed;
    top: 30px; right: 15px;
    width: 47px; height: 50px;
    box-sizing: border-box;
    background: black;
    border: none;
}
.sidebarBtn span {
    display: block;
    width: 35px; height: 3px;
    background: white;
    position: absolute;
    top: 23px;
    transition: .1s;
}
.sidebarBtn span:before {
    content: '';
    position: absolute;
    top: -12px; left: 0;
    width: 100%; height: 3px;
    background: white
}
.sidebarBtn span:after {
    content: '';
    position: absolute;
    top: 12px; left: 0;
    width: 100%; height: 3px;
    background: white;
}
.sidebarBtn.toggle span {
    background: transparent;
}
.sidebarBtn.toggle span:before {
    top: 0;
    transform: rotate(45deg);
    background: red;
}
.sidebarBtn.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
    background: red;
} 
/*-------------------------------------
    Main Carousel (Default For Mobile)
-------------------------------------*/
#maincarousel {
    top: 110px;
}
.carousel-caption {
    font-size: 10px;
}
.carousel-caption h4 a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}
#slide2 .carousel-caption h4 a {
    color: black;
}
#maincarousel .item {
    height: 230px;
}
#slide1 {
    background: url('../images/terzowide.jpg') top center no-repeat;
    background-size: 100% 100%;
}
#slide2 {
    background: url('../images/porsche918.jpg') top center no-repeat;
    background-size: 100% 100%;
}
#slide3 {
    background: url('../images/hybrid.jpg') top center no-repeat;
    background-size: 100% 100%;
}

/*-------------------------------------
    3 Column Article
-------------------------------------*/
#featuresheading {
    padding: 110px 20px 10px 20px;
}
#featuresheading p {
    text-align: justify;
    font-size: 20px;
}
#titlered {
    color: red;
}
#features {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
#features .panel-heading {
    background: black;
    color: white;
}
#features img {
    width: 100%;
    margin: 10px 0px 20px 0px;;
}
#features .btn {
    text-decoration: none;
}
/*-----------------------------------
    Tabs Section
------------------------------------*/
#tabssection {
    margin: 20px 20px 40px 20px;
}
#tabssection h3 {
    padding: 0px 0px 20px 0px;
}
#tabssection .tab-content {
    width: 100%;
}
#tabssection .tab-content #trackdata {
    text-align: justify;
    padding: 50px 15px 50px 15px;
}
/*------------------------------------
    Browse Content Section
------------------------------------*/
#browsecontent {
    width: 100%;
    text-align: center;
}
#browsecontent ul {
  padding: 0;
}
#browsecontent ul li {
    list-style-type: none;
    text-align: center; 
    padding: 15px 5px;
}
/*-----------------------------------
    Top 5 Article
------------------------------------*/
#topfive {
    width: 100%;
    margin: auto; }
#topfive #topfivehead {
    padding: 0px 10px 20px 10px; }
#topfive a img {
    height: 80%;
    width: 80%; }
.col-sm-4 {
    padding-bottom: 20px; }
.col-sm-8 {
    padding-bottom: 40px; }
#rdmore {
text-align: center; }
/*---------------------------------
    Well Page 2
----------------------------------*/
#working h2 {
    padding: 10px 0px 20px 0px;    
}
hr {
    background: black;
    width: 100%; height: 2px;
    margin: auto;
}
#gifimage {
    width: 100%; height: 100%;
    padding: 10px 0px 30px 0px;
}
#hybridworking .col-sm-6 p {
    padding-top: 10px;
    text-align: justify;
}
/*------------------------------------
    Footer
------------------------------------*/
footer {
    background: black;
    color: white;
    padding: 20px 20px 30px 20px;
}
footer .col-sm-2 {
    padding: 0px 0px 20px 20px;
    text-align: center;
}
footer .row .col-sm-12{
    width: 100%;
    text-align: center;
    font-size: 10px;
}
footer .socialimg {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
footer h4 {
    padding: 0px 0px 20px 5px;
}
footer a {
    padding: 10px 10px;
}
#medialinks {
  text-align: center;
}
#medialinks img {
  margin: 0px 10px 20px 10px;
}
#footerlinks span {
  padding-top: 10px;
  font-size: 15px;
}

/* MEDIA QUERIES */
/*---------------------------------------
    Landscape phone to portrait tablet 
----------------------------------------*/
@media (min-width: 768px) {
  .sidebar {                
    right: -350px;
    width: 350px; 
  }
  .active {
    right: 0px;
  }
  .sidebar ul {
    margin: 0;
    padding: 20px 10px;
  }
  .sidebar ul li a {
    font-size: 25px;
  }
  ul li .borderline {
    width: 300px;
  }
  #searchbar {
    width: 200px;
  }
  #search {
    right: 80px;
  }
  #maincarousel .item {
    height: 400px;
  }
  .carousel-caption p {
    font-size: 22px;
    text-decoration: none;
  }
  .carousel-caption h4 a {
    font-size: 28px;
  }
  #slide1, #slide2, #slide3 {
    background-size: 100% 100%;
  }
}
/*----------------------------------------
    Large desktop 
----------------------------------------*/
@media (min-width: 1000px) {
  #maincarousel .item {
    height: 520px; 
  } 
  #slide1, #slide2, #slide3 {
    background-size: 100% 100%;
  }
}







